$mobile: 768px;
$tablet: 1200px;
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
$color-attention: #872D62;
$color-background: #B8B8B8;
$color-branding--dark: #0A4700;
$color-branding--light: #258cd1;
$color-error: #e74c3c;
$font-ordinary: 'Roboto', sans-serif;
$font-heading: 'Oswald', sans-serif;
$transition: all .3s ease;