
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

.cancel {
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
  color: $color-background;
  margin-left: 10px;

  &:hover {
    color: #333;
  }
}

.app-text-right {
  text-align: right;
}

.app-text-center {
  text-align: center;
}

.app-edit {
  display: none;
}

.app-editable {
  &:hover {
    .app-edit {
      display: inline-block;
    }
  }
}

.app-margin--xxl {
  margin-top: 30px;
}

.app-margin--xl {
  margin-top: 25px;
}

.app-margin--l {
  margin-top: 20px;
}

.app-margin--m {
  margin-top: 15px;
}


.app-margin--s {
  margin-top: 10px;
}

.app-margin--xs {
  margin-top: 5px;
}

.app-margin--xxs {
  margin-top: 2px;
}

.app-margin--left {
  margin-left: 5px;
}

.app-link {
  font-family: $font-heading;
  font-size: 16px;
  color: rgba(255,255,255, .8);
  text-decoration: underline;

  &:active,
  &:hover {
    text-decoration: none;
    color: rgba(255,255,255, 1);
  }
}

.app-dimmed {
  color: #777;
}

.app-border {
  border-top: 1px dotted #777;
  padding-top: 20px;
}