.app-categories {
  .fa {
    margin-left: 10px;
    color: rgba(0,0,0,.3);
    transition: $transition;
    font-size: 18px;

    &:hover {
      color: rgba(0,0,0,1);
    }
  }
}


.app-category-item {
  border-bottom: 1px solid #4a4a4a;
  margin-bottom: 50px;
  list-style: none;
  padding-bottom: 20px;
}

.app-category__name {
  cursor: pointer;
}

.app-category__name-edit {
  margin-left: 8px;
  font-size: 20px;
}

.app-add-category-form {
  margin-top: 20px;
}
