.app-heading--primary {
  font-size: 50px;
  font-family: $font-heading;
}

.app-heading--secondary {
  font-size: 35px;
  font-family: $font-heading;
}

.app-heading--third {
  font-size: 24px;
  font-family: $font-heading;
}