.app-header{
  background: #2d3b4a;
  min-height: 64px;
  color: #fff;
}

.app-header__user {
  margin-top: 14px;
  text-align: right;
  
  @media(max-width: $mobile){
    text-align: left;
    margin-top: 5px;
  }
}

.app-header__logout-btn {
  margin-left: 5px;
}

.app-header__name {
  font-size: 30px;
  font-family: $font-heading;
  margin-top: 10px;
  color: #d267a6;
  display: inline-block;
}

.app-header__btn {
  border-color: rgba(255,255,255,.3);
  color: rgba(255,255,255,1);

  &:hover {
    border-color: rgba(255,255,255,.8)
  }
}