.app-not-found {
  margin-top: 100px;
}

.app-not-found__parallax-wrap {
  background: rgba(62,87,128, .95);
  padding-bottom: 130px;
  margin-top: 10px;
}

.app-not-found__parallax {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  z-index: -1;

  img {
    margin-top: -180px;
  }
}

.app-not-found__parallax {
//  margin-top: -100px;
}